header {
  background: var(--color-secondary);
  height: 80px;
}

.logo {
  width: 120px;
}

.contact-link:hover {
  text-decoration: underline;
  text-underline-offset: 12px;
  color: var(--color-primary);
}
