@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap");

:root {
  --color-primary: #2f86a6;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  background-color: #eee;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
