.page-box {
  width: 150px;
}
.page-btn {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #eee;
  border: 1px solid var(--color-secondary);
  cursor: pointer;
}

.page-btn svg {
  fill: var(--color-secondary);
  height: 12px;
}

.page-btn:disabled {
  border: 1px solid #c2c2c2;
  cursor: unset;
}

.page-btn:disabled svg {
  fill: #c2c2c2;
}

.right-arrow {
  transform: rotate(180deg);
}

.page-leg {
  font-size: 12px;
  color: var(--color-secondary);
}
